.body {
    padding-bottom: 5px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 

.display {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.search input[type=text]{
    position: relative;
    left: 10%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

.list{
    height: 200px;
    overflow: scroll;
    margin: auto;
}
