.header {
    text-align: center;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.search input[type=text]{
    position: relative;
    left: 10%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}




.list{
    height: 200px;
    overflow: scroll;
    margin: auto;
}

.searchList{
    list-style-type: none;
    overflow: hidden;
    color: white;
    background-color: white;
    text-align: center;
    text-decoration: none;
}

.searchResults{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:30%;
    width: 80%;
    padding: 10px;
    border: 1px solid grey;
    overflow: scroll;
}

.searchElement{
    background-color: white;
    color: black;
}

.searchElement:hover{
    background-color: wheat;
}
