body {

    
}

.suggestions {
    position: relative;
    display: block;
    margin: auto;
    width: 100%
}

.center-div {
    text-align: center;
    display: inline-block;
}

.submitButton {
    margin: 0;
    top: 50%;
    position: relative;
    text-align: center;
    display: block;
    
}