body {

    
}


.suggestions {
    position: relative;
    display: block;
    margin: auto;
}

.center-div {
    text-align: center;
}


.submitButton {
    margin: 0;
    top: 50%;
    position: relative;
    text-align: center;
    display: block;
    
}