.error-message {
    visibility: hidden;
    color: red;
    text-align: center;
}

.suggestions {
    position: relative;
    display: block;
    margin: auto;
    width: 100%
}

.center-div {
    text-align: center;
    display: inline-block;
}

.submitButton {
    margin: 30px;
    top: 50%;
    text-align: center;
    display: block;
    
}

.align {
    text-align: center;
}